img {
  width: 100%;
}

.banner {
  background: url("/img/profile-banner.png");
  background-position: 38%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 58px;
  height: 240px;
}

.banner__img {
  width: 20px;
  margin-right: 4px;
}

.banner__media {
  color: $white;
}

.banner__wrapper {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background: #090919;
  padding: 5px 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

// profile start

.profile {
  margin: 62px 0 0 76px;
  background-color: $profilebBg;
}

.profile__wrapper {
  background-color: $primaryBgColor;
  position: sticky;
  top: -52px;
}
.profile__wrapper-box {
  @include flex;
  justify-content: space-between;
  flex-direction: unset;
  padding: 15px 0 20px;
}
.profile__self {
  display: flex;
  align-items: center;
}

.profile__img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin: 0 24px 0 0;
}

.profile__name {
  font-size: 24px;
}

.profile__owner {
  font-size: 14px;
  margin-bottom: 0;
}

.profile__button {
  display: flex;
  align-items: center;
}
.bell.showHide {
  display: block;
  margin: 0 20px;
}

.bellBtn {
  background-color: #303030 !important;
}
.subscribe {
  padding: 8px 20px;
  background-color: #cc0000;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bell {
  box-sizing: border-box;
  display: none;
}

.profile__tabs-wrapper {
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}
.profile__tab-btn {
  position: relative !important;
  color: $subtitleColor;
  text-transform: uppercase;
  padding: 10px 30px;
}
.profile__tab-btn:hover {
  color: $white;
}

.profile__tab-btn.active {
  background-color: unset !important;
}

.profile__tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  height: 2px;
  width: 100%;
  background: $white;
}

.profile__search {
  display: flex;
  align-items: center;
}

#search-icon {
  color: $subtitleColor;
}

#search-input {
  display: none;
  border-bottom: 1px solid $white;
  padding: 2px 0;
  background: none;
  color: $white;
}

::placeholder {
  color: $white;
}

.searchBlocked {
  display: block !important;
  margin-left: 18px;
}

.profile__gallery,
.profile__gallery-play {
  @include flex;
  flex-direction: unset;
  justify-content: start;
}

.profile__gallery-title {
  font-size: 16px;
}

.profile__gallery {
  margin: 20px 0 20px;
}

.profile__gallery-desc {
  font-weight: bold;
}

.fa-play {
  color: $iconMainColor;
  font-size: 13px;
  margin: 0 15px 0 30px;
}

.profile__gallery-desc {
  color: $iconMainColor;
  text-transform: uppercase;
  font-size: 14px;
}

.profile__video {
  width: 20%;
  border-bottom: 2px solid $secondaryBgColor;
  padding-bottom: 24px;
}

.profile__title {
  font-size: 14px;
  margin-top: 5px;
}

.profile__views {
  background-color: #303030;
  color: $subtitleColor;
  padding: 3px 4px;
  font-size: 12px;
}

// media start

@media (max-width: 1380px) {
  .video__self {
    margin-bottom: 20px;
  }

  video {
    height: unset;
  }

  .banner {
    background-position: 42%;
    height: 215px;
  }
}
@media (max-width: 1120px) {
  .search-input {
    width: 480px;
  }
}

@media (max-width: 1020px) {
  .search-input {
    width: 420px;
  }
}

@media (max-width: 992px) {
  .search-input {
    width: 280px;
  }
  .profile__video {
    width: 25%;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 880px) {
  .search-input {
    width: 200px;
  }

  .banner {
    background-position: 44%;
    height: 200px;
  }

  .profile__video {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 170px;
  }

  .profile__wrapper {
    top: -46px;
  }

  .profile__img {
    width: 70px;
    height: 70px;
    margin: 0 18px 0 0;
  }

  .profile__video {
    width: 50%;
  }
}

@media (max-width: 657px) {
  .search-input,
  .search-btn {
    display: none;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-center {
    margin: 0 0 0 auto;
  }

  .sidenav {
    display: none;
  }

  .banner {
    background-position: center;
    height: 190px;
  }

  .profile {
    margin: 62px 0 0;
  }

  .profile__wrapper {
    top: -26px;
  }

  .profile__img {
    display: none;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: 140px;
  }

  .banner__wrapper {
    right: 10px;
  }
}

@media (max-width: 430px) {
  .microphone-btn {
    display: none;
  }
  .header__logo {
    margin-left: 16px;
  }

  .banner {
    display: none;
  }

  .banner__wrapper {
    bottom: 8px;
  }

  .profile__wrapper {
    top: -75px;
  }

  .profile__wrapper-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__gallery-wrapper.row {
    justify-content: center;
  }

  .profile__gallery {
    justify-content: space-around;
  }

  .profile__text {
    margin-bottom: 20px;
  }

  .subscribe {
    font-size: 12px;
  }

  .profile__video {
    width: 80%;
    padding-bottom: 0;
  }
}

@media (max-width: 330px) {
  .dots-btn {
    display: none;
  }
}
