// colors
$primaryBgColor: #181818;
$secondaryBgColor: #202020;
$profilebBg: #0f0f0f;
$headerBg: #202020f6;
$borderColor: #373737;
$inputBgColor: #121212;
$iconMainColor: #909090;
$subtitleColor: #aaaaaa;
$tooltipBgColor: #80808057;
$inputBorderColor: #3ea5ffa9;
$white: #ffffff;

// sizes
$titleSize: 22.4px;
$titleHeight: 22.4px;
$subTitleSize: 14px;
